* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("img/patt.png");
    /* background-repeat: no-repeat;
    background-position:100px 50px ; */
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row::after,
.menu::after {
    content: "";
    display: block;
    clear: both;
}

.col-md-3 {
    width: 25%;
}

.col-md-6 {
    width: 50%;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.75)
}

.menu li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    font-size: 21px;
    color: #2c71b8;
    font-weight: 300;
}

.menu a:hover,
.dropdown-content a {
    background-color: #2c71b8;
    color: white;
}

.dropdown-content a {
    width: 285px;
    background-color: #2c71b8;
    color: white;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: #2c71b8;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 10;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #2c71b8;
}

.position-form {
    position: relative;
    top: 5px;
}

.position-form input {
    width: 100%;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;

}

.position-form>a {
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    position: absolute;
    left: 81%;
    margin: 4px;
    top: 1px;
}

.position-form>a>img {
    width: 30px;
    height: 30px;
}

#someinput:-ms-reveal {
    display: none;
}

#someinput {
    color: #2c71b8;
    border: 1px solid #2c71b8;
}

.search {
    width: 200px;
    height: 40px;
    float: left;
    margin-right: 15px;
}

.bin {
    position: relative;
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 15px;
}

.bin a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    background-color: white;
    display: block;
}

.img {
    position: relative;
    left: 25%;
    top: 25%;
}

.text {
    font-size: 10px;
    font-weight: bold;
    display: inline;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
}

.counter {
    background-color: #2c71b8;
    border-radius: 50%;
    position: relative;
    width: 20px;
    height: 20px;
    left: 82%;
}

.conteiner-two {
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.slide {
    width: 100%;
    height: 800px;
}

.footer {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
}